textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  border-bottom: 1px solid $white;
  outline: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 1rem 6.4rem 1rem 2rem;
  width: 100%;
  font-size: 1.6rem;
  background-size: 2.4rem;
  background-position: right 1rem bottom 0.8rem;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: all 0.6s ease;
  margin-bottom: 4rem;
  max-width: 100%;

  &.person {
    background-image: url("/svgs/person.svg");
  }
  &.envelope {
    background-image: url("/svgs/envelope.svg");
  }
  &.chat {
    background-image: url("/svgs/chat.svg");
  }
  &.telegram {
    background-image: url("/svgs/telegram.svg");
  }
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba($white, 0.6);
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba($white, 0.6);
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba($white, 0.6);
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: rgba($white, 0.6);
  }
  &:focus {
    transform: scale(1.06);
  }
}

textarea {
  padding: 1rem;
}

button,
input[type="submit"] {
  background: $white;
  box-shadow: 5px 5px 20px rgba($black, 0.5);
  border: 1px solid $white;
  margin-top: 4rem;
  padding: 1rem 4rem;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.125em;
  border-radius: 3rem;
  mix-blend-mode: screen;
  transition: all 0.6s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.06);
    color: $white;
    background: transparent;
    mix-blend-mode: normal;
  }
}
label {
  width: 100%;
  display: block;
  text-align: left;
  padding-left: 2.5rem;
  position: relative;
  margin-bottom: 4rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
}
input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
}
