@import "./variables";

html,
body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

  &.modal-open {
    overflow-y: hidden !important;
    body {
      overflow-y: hidden !important;
    }
  }
}
@function headings($from: 1, $to: 6) {
  @if $from == $to {
    @return "h#{$from}";
  } @else {
    @return "h#{$from}," + headings($from + 1, $to);
  }
}
#{headings(1,6)} {
  margin-top: 0;
}
* {
  box-sizing: border-box;
}

main.content {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  font-size: 3.2rem;
  line-height: 120%;
  margin-bottom: 4rem;
}

@import "./form-items";

@keyframes blink {
  100% {
    box-shadow: 0 0 3px $white, 0 0 10px $white, 0 0 20px $white,
      0 0 40px $white, 0 0 70px $white, 0 0 80px $white;
  }
}
